<!--Edit Modal -->
<%- include("../inc/top.ejs",srcStyle="Product") %>
<nav class="navbar navbar-expand-lg fs-5 bg-body-tertiary  bg-primary p-2" style="font-size: 18px;" data-bs-theme="dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
          <li class="nav-item">
              <a class="nav-link" aria-current="page" href="http://localhost:3000/Dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" aria-current="page" href="http://localhost:3000/User">User</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="http://localhost:3000/Product" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Product
                </a>
                <ul class="dropdown-menu">
                  <li> <a class="dropdown-item" href="/product/add">Add Product</a></li>
                  <li><hr class="dropdown-divider"></li>
                </ul>
            </li>
          <li class="nav-item">
              <a class="nav-link" aria-current="page" href="http://localhost:3000/Category">Category</a>
          </li>
      </ul>
    </div>
     </div>
    </div>
  </div>
</nav>
<form class="m-5" action="" method="post" enctype="multipart/form-data">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Product</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name:</label>
        <input type="text" name="Name" class="form-control Password" id="exampleFormControlInput1" placeholder="Name ..." value="<%= details.Name %>">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Type</label>
        <select class="form-select form-control" name="Type" id="exampleFormControlInput1"
          aria-label="Default select example">
          <% listTypes.forEach(row=> {
            let selected ="";
            if(String(details.IDtype)==String(row._id)){
              selected='selected';
            } else {
              selected='';
            }
          %>
            <option <%= selected %> value="<%= row._id %>">
              <%= row.Name %>
            </option>
            <% }); %>
        </select>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Image</label>
        <input type="file" name="Image_Product" class="form-control Email" id="exampleFormControlInput1" placeholder="Image ...">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Content</label>
        <input type="text" name="Content" class="form-control Password" id="exampleFormControlInput1" placeholder="Content ..." value="<%= details.Content %>">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Price</label>
        <input type="number" name="Price" class="form-control Role" id="exampleFormControlInput1" value="<%= details.Price %>" placeholder="Price ...">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
    </div>
  </div>
</form>
<%- include('../inc/bottom.ejs') %>